<h1>ITP 404 Assignment 5</h1>

<form onSubmit={{action "searchSubreddit"}}>
{{input type="text" value=subreddit}}
<button type="button" class="btn btn-sm btn-primary">Search</button>
</form>

{{outlet}}
